<html lang="fr"><head>
	<title>Gestion client</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
</head>

<body>

	<h1>
	<center>Nos clients</center>
	</h1>
	<br>
	
	<center>
	<table style="text-align: center;"border="2">
	
		<tr>
			<th><br></th>
			<th>Téléphone</th>
			<th>Email</th>
			<th>Produit(s)</th>
			<th>url du serveur</th>
			<th>processeur du serveur</th>
			<th>ram du serveur</th>
			<th>stockage du serveur</th>
			<th>débit du serveur</th>  
		</tr>
		<tr>
			<td>Client A</td>
			<td>02 33 58 99 50</td>
			<td>clienta@gmail.com</td>
			<td>Produit A, Produit B</td>
			<td>https://urladetest.fr</td>
			<td>proc A</td>
			<td>ram A</td>
			<td>4Go</td>
			<td>débit A</td>
		</tr>
		<tr>
			<td>Client B</td>
			<td>02 36 54 88 40</td>
			<td>clientb@gmail.com</td>
			 <td>Produit C, Produit D</td>
			 <td>https://urlbdetest.fr</td>
			 <td>proc B</td>
			 <td>ram B</td>
			 <td>8Go</td>
			 <td>débit B</td>
		</tr>
		
	</table>
	</center>
	
</body>