{% extends "base.html.twig" %}

{% block menu %}
    <ul>
        <li class="selected"><a href="{{ path('customer') }}"><i class="material-icons account-icon">people</i>Clients</a></li>
        <li><a href="#"><i class="material-icons account-icon">article</i>Devis</a></li>
    </ul>
    <ul>
        <li><a href="#"><i class="material-icons account-icon">settings</i>Paramètres</a></li>
    </ul>
{% endblock %}

{% block content %}

{% endblock %}