/*

















.box-application
{
	padding: 8px;
	padding-bottom: 16px;
	width: 14vw;
	align-items: center;
}

.box-content span
{
	font-weight: 600;
	font-size: 1.3rem;
	text-align: center;
}

.box-form
{
	margin: 64px 0 0 0;
}

.create
{
	margin: 0 auto;
	width: 50px;
}

.machines button
{
	align-self: center;
	width: 120px;	
}

.name
{
	display: flex;
	flex-direction: column;
}

.add
{
	display: flex;
	flex-direction: column;
	width: 10vw;
}

.customer
{
	padding: 0 100px 0 0;
}

*/

.col
{
	padding: 4px;
}

.col div div
{
	display: flex;
	flex-direction: column;
}

.row
{
	display: flex;
	flex-direction: row;
}

.content
{
	margin: 64px 256px;
	padding: 64px;
	box-shadow: 0 0 8px #00000066;
	border: 1px solid #707070;
	border-radius: 15px;
	background-color: #FFFFFF;
	font-size: 1rem;
	line-height: 1.5;
}

.content h1
{
	font-weight: 700;
	font-size: 1.8rem;
	text-align: center;
}

.box-title
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 1.5rem;
}

.box-title h3
{
	text-align: center;
	font-weight: 700;
}

.box-content
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 32px;
	margin: 8px;
}

.box
{
	position: relative;
	justify-self: center;
}

.box-application li
{
	position: relative;
}

.btn-primary
{
	display: flex;
	flex-direction: column;
	margin: 32px 0 0 0;
}

.btn-primary button
{
	align-self: center;
	background-color: #0d6efd;
	color: #FFF;
	font-size: 1rem;
	border: 1px solid #0d6efd;
	border-radius: 10px;
	padding: 8px;
	margin: 8px;
	transition: all 0.5s ease-out;
}

.btn-primary button:hover
{
	background-color: #2874A6;
	cursor: pointer;
}

.btn-secondary
{
	display: flex;
	flex-direction: column;
}

.btn-secondary button
{
	align-self: center;
	background-color: #FFF;
	color: #0d6efd;
	font-size: 1rem;
	border: 1px solid #0d6efd;
	border-radius: 10px;
	padding: 8px;
	transition: all 0.5s ease-out;
}

.btn-secondary button:hover
{
	color: #FFF;
	background-color: #0d6efd;
	cursor: pointer;
}

input
{
	background-color: #FDFEFE;
	color: #17202A;
	border: 1px solid #707070;
	border-radius: 5px;
	padding: 4px;
	transition: all 0.5s ease-out;
}

input:hover
{
	background-color: #EAEDED;
}

select
{
	background-color: #FDFEFE;
	color: #17202A;
	border: 1px solid #707070;
	border-radius: 5px;
	padding: 4px;
}

select:hover
{
	cursor: pointer;
}

