body
{
	background-color: #454545;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.logo
{
	position: absolute;
	top: 64px;
	height: 64px;
}

.content
{
	min-height: 48vh;
	min-width: 32vw;

	background-color: #FFFFFF;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;

	padding: 96px;
}

.content h1
{
	text-align: center;
	font-size: 3rem;
	font-weight: 600;
	color: #EF7D19;
	margin-bottom: 24px;
}

.box-form form
{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

.form-row
{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	margin: 16px 0;
}

.form-row label
{
	margin-bottom: 8px;
	font-size: 1.25rem;
}

.form-row input
{
	height: 40px;
	font-size: 1.25rem;
}

.forget_password-text
{
	color: #707070;
	margin-bottom: 24px;
}

.login-button
{
	width: 100%;
	border-radius: 0;
	font-size: 1.25rem;
	padding: 8px;
}