body
{
	background-color: #454545;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.logo
{
	margin-top: 32px;
	height: 5.9vh;
}

.content
{
	width: 88vw;
	padding: 32px 64px;

	background-color: #FFFFFF;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;

}

.content h1
{
	text-align: center;
	font-size: 1.8rem;
	font-weight: 600;
	color: #EF7D19;
	margin-bottom: 8px;
}

.form-error
{
	color: #842029;
	background-color: #f8d7da;
	border-color: #f5c2c7;
	padding: 12px;
}

.box-form form
{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
}

.form-row
{
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	margin: 16px 0;
}

.form-row label
{
	margin-bottom: 16px;
}

.form-row input
{
	border: 1px solid #cccccc;
	padding: 12px;
	font-size: 1rem;
}

.form-row input:focus, .form-row input:focus-visible
{
	outline: none;
	-webkit-box-shadow: 0 0 2px 1px #EF7D19;
	box-shadow: 0 0 2px 1px #EF7D19;
}

.login-button
{
	width: 100%;
	margin-top: 8px;
	padding: 12px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	.content
	{
		width: 64vw;
		padding: 64px 96px;
	}

	.form-row label
	{
		margin-bottom: 8px;
	}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

	.content
	{
		width: 32vw;
	}
}