.fake-box
{
	display: flex;
	flex-direction: row;
	padding: 0 32px 0 32px;
	margin: 16px;
	justify-content: space-between;
}

.fake-customer
{
	display: flex;
	flex-direction: column;
	width: 25vw;
	padding: 16px 8px 0 8px;
	align-items: flex-start;
}

.fake-contact-box
{
	display: flex;
	flex-direction: row;
	width: 70vw;
	margin: 0 8px 0 0;
	padding: 0 8px 0 8px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.fake-contact
{
	margin: 16px 8px 16px 8px;
	padding:  0 16px 0 16px;
	min-width: 15vw;
}
.fake-contact h4
{
	font-weight: 600;
}

.fake
{
	background-color: #EAEDED;
	color: #17202A;
	border: 1px solid #707070;
	border-radius: 5px;
	max-width: 200px;
	padding: 0 8px 0 8px;
}
